.body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

.container-mobile {
    height: 100%;
    display: flex;
    flex-direction: row;
} 

.container-logo-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media (min-width: 1158px) {
    .container-logo-nav {
        min-width: 1158px;
    }
}

.header-container {
    display: flex;
    border: 0px, 0px, 1px, 0px CORNFLOWER #E7E9FC; 
    background-color: #FFFFFF;
    flex-direction: row;
    justify-content: space-around;
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

@media (min-width: 1158px) {
    .header-container {
        }
}
.logo-header {
    text-transform: uppercase;
    text-decoration: none;
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: #4d5ae5;
    display: block;
}

@media (min-width:768px) and (max-width:1157px) {
    .logo-header {
        margin-left: 16px;
        margin-top: 20px;
    }
}

@media(max-width:320px) {
    .container-logo-nav {
        display: none;
    }
}

@media(min-width:768px) {
    .container-mobile {
        display: none;
    }
}

@media(min-width:1158px) {
    .container-mobile {
        display: none;
    }
}

.logo-header-mobile {
    margin-top: 16px;
    margin-bottom: 16px;
    margin-right: 148px;
}

.logo-header-text {
    color: #2e2f42;
    letter-spacing: 0.03em;
    text-decoration: none;
}

.navigation-list {
    display: flex;
    align-items: center;
}

.container {
    padding-left: 16px;
    margin: 0 auto;
}

@media (min-width:1158px) {
    .container {
        min-width: 1158px;
        padding: 0 16px; 
    }
}

.icon-mobile-header {
    width: 24px;
    height: 24px;
    margin-right: 24px;
    margin-top: 16px;

}

/* .menu {
    display: flex;
    gap: 40px;
    margin-top: 12px;
    margin-left: 60px;
    top: 24px; 
    left: 347px;
} */

@media (min-width:768px) and (max-width:1157px) {
    .menu {
        margin-left: 48px;
    }
}

.menu-title-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #404bbf;
    font-family: Roboto, sans-serif;
    font-style: normal;    
}

@media (min-width:1158px) {
    .menu-title-text {
    padding: 24px 0;  
    } 
}

.link-contact {
    font-style: normal;
    text-decoration: none;
}

.link-contact-all {
    display: flex;
    flex-direction: column;
}

@media (min-width: 1158px) {
    .link-contact-all {
        flex-direction: row ;
        gap: 40px;
    }
}

.my-link {
    color: #2E2F42;
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-family: Roboto, sans-serif;
    font-style: normal;
    padding: 24px 0;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.my-link::before {
    text-decoration: none;
    position: absolute left 0; 
    bottom: - 1px;
}

.my-link::after {
    text-decoration: underline;
    content: "";
    color: #404BBF;
    bottom: -1px;
    left: 0;
    height: 4px;
    width: 100%;
    background-color: #404bbf; 
    border-radius: 2px;
}

.my-link:hover {
    color: #404bbf;
    text-decoration: underline;
}

.my-link:focus {
    color: #404bbf;
}

.carent {
    position: relative;
    color: #404BBF;
}

.carent::after {
    text-decoration: underline;
    content: "";
    color: #404BBF;
    position: absolute;
    bottom: -1px;
    left: 0;
    height: 4px;
    width: 100%;
    background-color: #404bbf; 
    border-radius: 2px;
}

.link-contact-text {
    color: #434455;
    text-decoration: none;
    font-style: normal;
    display: block;
    margin-right: 16px;
    margin-top: 16px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media (min-width:768px) and (max-width:1157px) {
    .link-contact-text {
        padding-right: 16px;

    }
}

@media (min-width:1158px) {
    .link-contact-text {
        padding-top: 24px;
        padding-bottom: 24px;
    }
}

.link-contact-text:hover {
    color: #404bbf;
    text-decoration: underline;
}

.link-contact-text:focus {
    color: #404bbf;
}

.link-contact-text::before {
    text-decoration: none;
}

.link-contact-text::after {
    text-decoration: underline;
    color: #404BBF;
}

.contact-all {
    display: flex;
    gap: 40px;
    font-family: "Roboto", sans-serif;
    color: #434455;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5; 
    letter-spacing: 0.02em;    
}

.backdrop-mobile {
    position: fixed; 
    top: 0;
    left: 0;
    width: 320px;
    height: 640px;
    background-color: rgba(46, 47, 66, 0.4);
    z-index: 9999;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-window-mobile {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1); 
    width: 288px;
    height: 623px;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding-right: 16px;
    padding-left: 16px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.menu-mobile {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.menu-title-text-mobile {
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 0.02em;
    font-family: Roboto, sans-serif;
    font-style: normal;
    color: #404bbf;
    line-height: 1.5;
}

.my-link-mobile {
    color: #2E2F42;
    text-decoration: none;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-family: Roboto, sans-serif;
    font-style: normal;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.my-link-mobile::before {
    text-decoration: none;
    position: absolute left 0; 
    /* bottom: - 1px; */
}

.my-link-mobile::after {
    text-decoration: none;
    content: "";
    color: #404BBF;
    bottom: -1px; 
    left: 0;
    height: 4px;
    width: 100%; 
    background-color: #404bbf; 
    border-radius: 2px; 
}

.my-link-mobile:hover {
    color: #404bbf;
    text-decoration: none;
}

.my-link-mobile:focus {
    color: #404bbf;
    text-decoration: none;
}

.carent-mobile {
    text-decoration: none;
    position: relative;
    color: #404BBF;
}  

 .carent-mobile::before {
    text-decoration: none;

}

.carent-mobile::after {
    text-decoration: none;
    content: "";
    color: #404BBF;
    position: absolute;
    bottom: -1px;
    left: 0;
    height: 4px;
    width: 100%;
    background-color: #404bbf; 
    border-radius: 2px;
} 

.link-contact-mobile {
    font-style: normal;
    text-decoration: none;
    margin-top: 124px;
    
}
.link-contact-all-mobile {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-top: 124px;
}

.link-contact-text-mobile {
    color: #434455;
    text-decoration: none;
    font-style: normal;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-contact-text-mobile:hover {
    color: #404bbf;
    text-decoration: none;
}

.link-contact-text-mobile:focus {
    color: #404bbf;
}

.link-contact-text-mobile::before {
    text-decoration: none;
}

.link-contact-text-mobile::after {
    text-decoration: none;
    color: #404BBF;
}

.contact-all-mobile {
    display: flex;
    gap: 24px;
    font-family: "Roboto", sans-serif;
    color: #434455;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.5; 
    letter-spacing: 0.02em;  
}

.contact-phone {
    color: rgba(67, 68, 85, 1);
    text-decoration: none;
}

.contact-phone::before {
    color: rgba(67, 68, 85, 1);
}

.contact-phone::after {
    color: rgba(77, 90, 229, 1);
}


.block-icons-footer-mobile {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    margin-top: 48px;
    
}

.icons-block-footer-mobile {
    width: 40px;
    height: 40px;

}

.icons-footer-link-mobile {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center; 
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icons-footer-social-link-mobile {
    fill: #f4f4fd;
}

.is-hidden-mobile {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    } 


.close-icon-mobile {
    width: 24px;
    height: 24px;
    display: flex;
    position: absolute;
    top: 24px;
    right: 24px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 1px solid gba(46, 47, 66, 1);
    background-color: #e7e9fc;
    border: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 0;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.post-mobile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: #2E2F42;
    height: 600px;
    font-size: 36px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/Dark.jpg);
    background-repeat: no-repeat; 
    background-position: center;
    background-size: cover; 
    max-width: 320px;
}

.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 320px;
    height: 640px;
    background-color: rgba(46, 47, 66, 0.4);
    z-index: 9999;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media (min-width:1158px) {
    .modal-backdrop {
        width: 100%;
        height: 100%;
        background-color: rgba(46, 47, 66, 0.4);
        z-index: 9999;
    }
}
    
.is-hidden {
   opacity: 0;
   pointer-events: none;
   visibility: hidden;
    }

.modal-window {
    position: absolute;
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%) scale(1);
    width: 288px;
    height: 623px;
    background: #fcfcfc;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding-top: 72px;
    padding-left: 22px;
    padding-right: 24px;
    padding-bottom: 24px; 
}

@media (min-width:1158px) {
    .modal-window {
    width: 408px;
    min-height: 584px;
    }
}

@media (min-width:768px) and (max-width:1157px)  {
    .modal-window {
        transform: translate(-50%, -50%) scale(1);
        width: 408px;
        height: 584px;
    }
}

.close {
    display: flex;
    position: absolute;
    top: 24px;
    right: 24px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #e7e9fc;
    border: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 0;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.close:hover {
    background-color: #404bbf;
    border: none;
    fill: #ffffff;
}

.close:focus {
    background-color: #404bbf;
    border: none;
    fill: #ffffff;
}
.close-x-icon {
    fill: var(--navyblue);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}

.close-x-icon:hover {
    fill: #ffffff;
}

.close-x-icon:focus {
    fill: #ffffff;  
}

.send-form {
    min-width: 169px;
    height: 56px;
    background-color: #4D5AE5;
    color: #FFFFFF;
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    gap: 10px;
    cursor: pointer;
    display: block;
    border-radius: 4px;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
    margin: 24px auto 0;
    text-shadow: 0px, 4px, 4px, 0px #000000 15%;
}

.send-form:hover {
    background-color: #404BBF; 
}
.send-form:focus {
    background-color: #404BBF; 
}

.text-input-wrap {
    margin-bottom: 4px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    display: block;
}

.form-input-wrap {
    margin-bottom: 8px;
}

.form-input-wrap-addition {
    margin-bottom: 16px;
}

.input-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
    position: relative; 
    margin-bottom: 8px;
}

.text-line-input {
    width: 100%;
    height: 40px;
    border-radius: 4px;
    background-color: transparent; 
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
    border-color: #4D5AE5;
    text-indent: 8px;
    border: 1px solid rgba(46, 47, 66, 0.4);
}

.text-line-input:focus {
    border-color: #4D5AE5;
}   

.text-line-input:focus + .icon-in-boxes {
    fill: #4D5AE5; 
}

.icon-in-boxes {
    position: absolute;
    left: 16px;
    top: 50%; 
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.icons-in-boxes:focus{
    fill: #4D5AE5;
}
.comment-text-input {
    margin-bottom: 16px;
}

.label-comment-title {
    font-size: 12px;
    width: 100%; 
    height: 120px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    padding: 8px 16px; 
    outline: transparent;
    resize: none;
    background-color: transparent; 
    display: block;
    border-color: #4D5AE5;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;    
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}

.label-comment-title:focus {
    border-color: #4D5AE5;
}

.title-form {
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;
    margin-bottom: 16px;
}

.checkbox-addition {
    margin-bottom: 24px;
}

.checkbox-addition-privacy:checked + .checkbox-label-text > .text-first-part {
    background-color: #404bbf; 
    border: none; 
    fill: #F4F4FD;
}

.visually-hidden .checkbox-addition-privacy {
    background-color: #404bbf; 
    border: none; 
    fill: #F4F4FD;
    position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.checkbox-label-text {
    line-height: 1.17; 
    letter-spacing: 0.04em;
    color: #8e8f99;
    font-size: 12px;
    font-weight: 400;
    font-family: Roboto, sans-serif;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-left: 8px;
}

.checkbox-label-text-addition {
    line-height: 1.17; 
    letter-spacing: 0.04em;
}

.text-first-part {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #8E8F99;
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4); 
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    fill: transparent;
}

.text-privat {
    color: #4D5AE5;
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.4;
    letter-spacing: 0.02em;
}

.icon-checkbox-boxes-one {
   colir: #F4F4FD;
}

.icon-checkbox-boxes-one:hover {
    color: #2E2F42;
}

.post-title {
    color: #FFFFFF;
    font-family: "Roboto", sans-serif;
    font-size: 36px;
    text-align: center;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
}

@media (min-width:1158px) {
    .post-title {
        font-size: 56px;
        min-width: 496px;
    }
}

@media (min-width:768px) and (max-width:1157px) {
    .post-title {
        min-width: 496px;
        font-size: 56px;
        margin-top: 112px;
    }
}

.tytle-list-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: center; 
    gap: 72px;

}

@media (min-width:1158px) {
    .tytle-list-section {
            min-width: 1158px;
            flex-direction: row;
            gap: 12px;
            height: 224px;
    }
}

@media (min-width:768px) and (max-width:1157px) {
    .tytle-list-section 
    {
        display: flex;
        flex-wrap: wrap;
        gap: 72px 24px;
    }
}

.tytle-section-list {
    width: 288px;
}

@media (min-width:1158px) {
    .tytle-section-list {
        max-width: 264px;
    }
}

@media (min-width:768px) and (max-width:1157px) {
    .tytle-section-list {
        width: 356px;
        height: 120px;
        margin: 0;
    }
}

@media (min-width:320px) and (max-width:1157px) {
    .icons-section {
        display: none;
    }
}

@media (min-width:320px) and (max-width:1157px) {
    .section-icons-list {
        display: none;
    }
}

.section-icons-list {
    display: flex;
    background-color: #F4F4FD;
} 

@media (min-width:1158px) {
    .section-icons-list {
        width: 264px;
    }
}

.icons-section {
    margin: auto;
}

@media (min-width:1158px) {
    .icons-section {
        width: 64px;
        height: 64px;
    }
}

.post {
    background-color: #2E2F42;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/Mobdark.png); 
    background-repeat: no-repeat; 
    background-position: center;
    background-size: cover; 
    margin: 0 auto;
    
}

@media (min-width:1158px) {
    .post {
        padding: 188px 0; 
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people.png);
    }
}

@media (min-resolution: 192dpi) {
    .post {
        padding: 188px;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/Mobdark.png);
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people.png);
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/plandark.png);
    }
}

@media (min-width:768px) and (max-width:1157px) {
    .post {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/plandark.png);
        width: 768px;
        height: 436px;
        margin-bottom: 32px;
    }
}

.icons {
    background-color: #F4F4FD;
}

.button-style {
    color: #FFFFFF;
    background-color: #4D5AE5;
    font-size: 16px;
    font-weight: 500;
    font-family: "Roboto", sans-serif;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    margin: 72px; 
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

@media(min-width:768px) and (max-width:1157px) {
    .button-style {
        text-shadow: 0px, 4px, 4px, 0px #000000 15%;
        margin: auto; 
    }
}

@media(min-width:1158px) {
    .button-style {
        margin-bottom: 188;
        margin-left: 670px;
       
    }
}

.button-style:hover {
    background-color: #404BBF;   
}

.button-style:focus {
    background: #404BBF;
}

img {
    display: block;
    object-fit: cover;
}

.text {
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: rgba(67, 68, 85, 1);
    line-height: 1.5;
    letter-spacing: 0.02em;
    width: 288px;
    height: 72px;
}

@media (min-width:1158px) {
    .text {
    font-weight: 400;
    width: 264px;
    }
}

.tytle-section {
    display: flex;
    flex-direction: column;
    gap: 72px;
}

@media (min-width:1158px) {
    .tytle-section {
        flex-direction: row;
        gap: 12px;
        margin-top: 120px;
    }
}

@media (min-width:768px) and (max-width:1157px) {
    .tytle-section {
    }
}

.title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    width: 288px;
    height: 40px;
    text-align: center;
    color: #2E2F42;
    
}

@media (min-width: 1158px) {
    .title {
        font-family: Roboto, sans-serif;
        font-weight: 500;
        font-size: 20px;
        margin-bottom: 8px;
    }
}

@media (min-width: 768px) and (max-width:1157px) {
    .title {
        text-align: left;
        margin-top: 24px;        
    }
}

.section-block-team {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    gap: 72px;
}

@media (min-width: 1158px) {
    .section-block-team {
        flex-direction: row;
        gap: 24px;  
    }
}

@media (min-width: 768px) and (max-width:1157px) {
    .section-block-team {
        flex-wrap: wrap;
        row-gap: 64px;
        column-gap: 24px;
        height: 1124px;
        margin-left: 16px;
        margin-right: 16px;
    }
}

.block-icons-team {
    display: flex;
    justify-content: center;
    margin-top: 8px;  
    gap: 24px;  
}

.icons-block-kards-team {   
    width: 40px;
    height: 40px;
}

.section-icons-list {
    align-items: center;
    justify-content: center;
    height: 112px;
}

.icons-team-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #4d5ae5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);   
}

.icons-team-link:hover {
    border-radius: 50%;
    background-color: #404bbf; 
}

.icons-team-link:focus {
    border-radius: 50%;
    background-color: #404bbf; 
}
    
.icons-block-kards {
    fill: #f4f4fd;
}

.block-post-team {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #F4F4FD;  
}
    
@media (min-width: 768px) and (max-width:1157px) {
    .block-post-team {
        width: 768px;
        height: 1224px;
        margin-top: 96px;
    }
}

@media (min-width:1158px) {
    .block-post-team {
        flex-direction: row;
        margin-top: 120px;
        margin-bottom: 120px;
    }
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.post-team {
    margin-bottom: 72px;
    font-family: Roboto, sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}

@media (min-width:1158px) {
    .post-team {    
        margin-bottom: 72px;
        margin-top: 120px;
    } 
}

@media (min-width:768px) and (max-width:1157px) {
    .post-team {
        margin-top: 96px;
        margin-bottom: 0;
    }
}

.block-cards-team {
    background-color: #F4F4FD;
    border-radius: 0px 0px 4px 4px; 
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    margin: 0 auto;
}

@media (min-width:768px) and (max-width:1157px) {
    .block-cards-team {
        width: 264px;
        height: 428px;
        margin-right: 42px;
        
    }
}
@media (min-width:768px) and (max-width:1157px) {
    .blok-cards-team-one {
        margin-left: 34px;
    }
}


.description-team {
    padding: 0 0 32px 0;
}

@media (min-width:1158px) {
    .description-team {
        padding: 32px 0;
    }
}

.box-title {
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #2E2F42;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 8px;
}

.box-post {
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #434455;
    letter-spacing: 0.02em;
    text-align: center;
}

.title-list {
    font-family: Roboto, sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    color: #2E2F42;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 72px;
}

@media (min-width:768px) and (max-width:1157px) {
    .title-list {
        margin-top: 32px;
        margin-bottom: 32px;
    }
}

@media (min-width:1158px) {
    .title-list {
        margin-bottom: 120px;
    }
}

.list-title-block {
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.block-portfolio {
    margin-left: 156px;
}


.section-title-block {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}

@media (min-width:1158px) {
    .section-title-block {
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        column-gap: 24px;
        row-gap: 48px;     
    }
}

@media (min-width:768px) and (max-width:1157px) {
    .section-title-block {
        width: 736px;
        height: 1516px;
        margin-left: 16px;
    }
}

.section-title-block:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    transform: translateY(0%);
}

.description-portfolio {
    width: 288px;
    position: relative;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

    @media (min-width:1158px) {
    .description-portfolio {
        width: calc((100% - 48px) / 3);
    }
}

.description-portfolio:hover {
    transform: translateY(0%);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.box-hidden {
    position: relative;
    overflow: hidden;
}

.overlay {
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #F4F4FD;
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    line-height: 1.5;
    padding: 40px 32px;
    background-color: #4d5ae5;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.description-portfolio:hover .overlay {
    transform: translate(0%);
}
.description-portfolio-title {
    padding: 32px 16px;
    border: 1px solid #e7e9fc; 
    border-top: none;
}

.text-title-block {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455; 
}

.container-footer {
    display: flex;
    flex-direction: column; 
}

@media(min-width:1158px) {
    .container-footer {
        width: 1440px;
        flex-direction: row;        
    }
}

@media(min-width:768px) and (max-width:1157px) {
    .container-footer {
        flex-wrap: wrap;   
    }
}

.container-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 16px;
    width: 264px;
    height: 112px;
}

@media(min-width:1158px) {
    .container-box {    
        align-items: flex-start;
    }  
}

@media(min-width:768px) and (max-width:1157px) {
    .container-box {
        margin-left: 108px;
        text-align: left;
        align-items:flex-start;
    }
}

.last-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #2e2f42; 
}

@media (min-width:1158px) {
    .last-block {
        display: block;
        height: 312px;
        
    }
}

@media (min-width:768px) and (max-width:1157px) {
    .last-block {
        width: 768px;
        height: 456px; 
        margin-top: 0;
    }
}

.box-last-text {
    color: #F4F4FD;
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;   
    text-align: left;
}

@media (min-width:1158px) {
    .box-last-text { 
        width: 264px;
        margin-bottom: 16px;
        margin-left: 100px;
    }
}

.box-last-logo {
    text-transform: uppercase;    
    text-decoration: none;
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: #4d5ae5;  
    display: inline-block;
}

@media (min-width:1158px) {
    .box-last-logo {
    margin-top: 100px;
    margin-left: 100px;
    }
}

.text-studio {
    color: #f4f4fd;
    display: inline-block;
}

.block-icons-footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 16px;
}

@media (min-width:1158px) {
    .block-icons-footer {
        margin-top: 16px;
        margin-left: 340px;
    }
}

.icons-block-footer {
    width: 40px;
    height: 40px;

}

.icons-footer-link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center; 
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.icons-footer-link:hover {
    background-color: #31d0aa;
}

.icons-footer-link:focus {
    background-color: #31d0aa;
}

.icons-footer-social-link {
    fill: #f4f4fd;
}

.social-link {
    color: #FFFFFF;
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    display: flex;
    justify-content: center;
}

@media(min-width:768px) and (max-width:1157px) {
    .social-link {
        display: flex;
        justify-content: flex-start;
        margin-left: 134px;
        margin-top: 0;
    }
}

@media(min-width:1158px) {
    .social-link {
        margin-top: 100px;
        margin-left: 240px;
       
    }
}

@media(min-width:768px) and (max-width:1157px) {
    .container-social {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        height: 80px;
        margin-left: 280px;
    }
}



.footer-form-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
    margin-top: 100px;
}

.footer-button {
    display: flex;
    justify-content: center;
    align-items: center; 
    color: #FFFFFF;
    background-color: #4D5AE5;
    border-radius: 4px;
    border: none;
    width: 165px;
    height: 40px;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer; 
    margin: auto;
    
}

@media(min-width:1158px) {
    .footer-button {
        min-width: 165px; 
    }
}

@media(min-width:768px) and (max-width:1157px) {
    .footer-button {
        width: 165px;
        margin-left: 12px;
    }
}

.form-field {
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #FFFFFF;
    margin-bottom: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
}

@media(min-width:1158px) {
    .form-field {
    text-align: start;
}

@media(min-width:768px) and (max-width:1157px) {
    .form-field {
        width: 75px;
        margin-left: 108px;
        margin-top: 72px;
    }
}

.form-style {
    display: flex;
    flex-direction: column;
    gap: 16px; 
    
    
}

@media(min-width:1158px) {
    .form-style {
        flex-direction: row;
        gap: 24px;
    }
}

@media(min-width:768px) and (max-width:1157px) {
    .form-style {
        flex-direction: row;
        gap: 24px;
        margin-left: 108px;
    }
}

.form-style::placeholder {
    font-family: Roboto, sans-serif;
    font-size: 12px;
    font-weight: 400px;
    color: #FFFFFF;
    line-height: 1.5;
    letter-spacing: 0.02em;

}
.form-style-field {
    border: 1px solid #FFFFFF;
    border-radius: 4px;
    height: 40px;
    width: 264px;
    background-color: transparent;
    font-size: 12px;
    line-height: 1.5; 
    letter-spacing: 0.04em;
    padding-left: 16px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15)); 
    color: #ffffff;
}

input::placeholder {
    color: #ffffff;
}

.form-style-set {
    font-family: Roboto, sans-serif;
    font-size: 16px;
    color: #FFFFFF;
    border-radius: 4px;
    background-color: #2E2F42;
}

.form-style-set:hover {
    border-radius: 4px; 
    background-color:  #2E2F42;
}

.form-style-set:focus {
    border-radius: 4px; 
    background-color:  #2E2F42;
}

.form-style {
    height: 40px;
}

.footer-icons-frame {
    margin-left: 16px;
}

 ul {
    list-style-type: none;
    margin-bottom: 0;
    margin-top: 0;
    margin-left: 0;
    padding-left: 0;
 }

 ol {
    list-style-type: none;
    margin-bottom: 0;
    margin-top: 0;
    margin-left: 0;
    padding-left: 0;
}

h1, h2, h3, p {
    margin: 0;
  }