.body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}


.header-container {
    display: flex;
    border: 0px, 0px, 1px, 0px CORNFLOWER #E7E9FC; 
    background-color: #FFFFFF;
    flex-direction: row;
    justify-content: space-around;
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

/* @media screen and (max-width:320px) {
    .logo-header {
        display: none;
    }
} */

.container-mobile {
    display: flex;
    flex-direction: row;
    justify-content: space-between;    
} 

/* .navigation-list {
    display: flex;
    align-items: center;
} */

@media screen and (min-width: 768px)  {
    .navigation-list {
        display: flex;
        align-items: center;
    }
}

@media screen and (max-width:320px) {
    .container-logo-nav {
        display: none;
    }
}

/* .container-logo-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
} */

@media screen and (min-width: 768px) {
    .container-logo-nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}

@media screen and (max-width:320px) {
    .navigation-list {
        display: none;
    }
} 

@media screen and (min-width: 768px) {
    .navigation-list {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
}

.container {
    max-width: 320px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 15px;
}  

@media screen and (min-width:768px) {
    .container {
        max-width: 768px;
    }
}

@media screen and (min-width:1158px) {
    .container {
        max-width: 1158px;
        margin-left: 0;
        margin-right: 0;
    }  
}

@media screen and (min-width:768) and (min-width:1185px) {
    .backdrop-mobile {
        display: none;
    }  
}

@media screen and (min-width:768px) {
    .icon-mobile-header {
        display: none;
    }  
}  

.logo-header-mobile {
    margin-bottom: 16px;
    text-transform: uppercase;
    text-decoration: none;
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: #4d5ae5;
    display: block;
}

@media screen and (max-width:1158px) {
    .logo-header-mobile {
        margin-top: 24px;
    }
}

.logo-header-text {
    color: #2e2f42;
    letter-spacing: 0.03em;
    text-decoration: none;
}

.icon-mobile-header {
    width: 24px;
    height: 24px;
    margin-top: 20px;
    margin-left: 120px;
}

.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    z-index: 9999;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
} 

.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    }

.modal-window {
    position: absolute;
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%) scale(1);
    width: 288px;
    height: 623px;
    background: #fcfcfc;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding-top: 72px;
    padding-left: 22px;
    padding-right: 24px;
    padding-bottom: 24px; 
}

@media screen and (min-width:768px) {
    .modal-window {
        transform: translate(-50%, -50%) scale(1);
        width: 408px;
        height: 584px;
        
    }
}

.close {
    display: flex;
    position: absolute;
    top: 24px;
    right: 24px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #e7e9fc;
    border: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 0;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.close:hover {
    background-color: #404bbf;
    border: none;
    fill: #ffffff;
}

.close:focus {
    background-color: #404bbf;
    border: none;
    fill: #ffffff;
}
.close-x-icon {
    fill: var(--navyblue);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}

.close-x-icon:hover {
    fill: #ffffff;
}

.close-x-icon:focus {
    fill: #ffffff;  
}

.send-form {
    min-width: 169px;
    height: 56px;
    background-color: #4D5AE5;
    color: #FFFFFF;
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    gap: 10px;
    cursor: pointer;
    display: block;
    border-radius: 4px;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
    margin: 24px auto 0;
    text-shadow: 0px, 4px, 4px, 0px #000000 15%;
}

.send-form:hover {
    background-color: #404BBF; 
}
.send-form:focus {
    background-color: #404BBF; 
}

.text-input-wrap {
    margin-bottom: 4px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    display: block;
}

.form-input-wrap {
    margin-bottom: 8px;
}

.form-input-wrap-addition {
    margin-bottom: 16px;
}

.input-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
    position: relative; 
    margin-bottom: 8px;
}

.text-line-input {
    width: 100%;
    height: 40px;
    border-radius: 4px;
    background-color: transparent; 
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
    border-color: #4D5AE5;
    text-indent: 8px;
    border: 1px solid rgba(46, 47, 66, 0.4);
}

.text-line-input:focus {
    border-color: #4D5AE5;
}   

.text-line-input:focus + .icon-in-boxes {
    fill: #4D5AE5; 
}

.icon-in-boxes {
    position: absolute;
    left: 16px;
    top: 50%; 
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.icons-in-boxes:focus{
    fill: #4D5AE5;
}
.comment-text-input {
    margin-bottom: 16px;
}

.label-comment-title {
    font-size: 12px;
    width: 100%; 
    height: 120px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    padding: 8px 16px; 
    outline: transparent;
    resize: none;
    background-color: transparent; 
    display: block;
    border-color: #4D5AE5;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;    
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}

.label-comment-title:focus {
    border-color: #4D5AE5;
}

.title-form {
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;
    margin-bottom: 16px;
}

.checkbox-addition {
    margin-bottom: 24px;
}

.checkbox-addition-privacy:checked + .checkbox-label-text > .text-first-part {
    background-color: #404bbf; 
    border: none; 
    fill: #F4F4FD;
}

.visually-hidden .checkbox-addition-privacy {
    background-color: #404bbf; 
    border: none; 
    fill: #F4F4FD;
    position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.checkbox-label-text {
    line-height: 1.17; 
    letter-spacing: 0.04em;
    color: #8e8f99;
    font-size: 12px;
    font-weight: 400;
    font-family: Roboto, sans-serif;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-left: 8px;
}

.checkbox-label-text-addition {
    line-height: 1.17; 
    letter-spacing: 0.04em;
}

.text-first-part {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #8E8F99;
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4); 
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    fill: transparent;
}

.text-privat {
    color: #4D5AE5;
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.4;
    letter-spacing: 0.02em;
}

.icon-checkbox-boxes-one {
    colir: #F4F4FD;
}

.icon-checkbox-boxes-one:hover {
    color: #2E2F42;
}

/* @media screen and (min-width:768px) {
    .logo-header {
        text-transform: uppercase;
        text-decoration: none;
        font-family: Raleway, sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        color: #4d5ae5;
        display: block;
        margin-right: 76px;
    } 
}
 */

@media screen and (min-width:768px) {
    .logo-header-text {
        color: #2e2f42;
        letter-spacing: 0.03em;
        text-decoration: none;
    }
}

.menu {
        display: none;
    }

@media screen and (min-width:768px) {
    .menu {
        display: flex;
        flex-direction: row;
        gap: 40px;
        top: 24px;
        left: 347px;
    }
}

/* .menu-title-text {
        display: none;
} */

@media screen and (min-width:768px) {
    .menu-title-text {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #404bbf;
        font-family: Roboto, sans-serif;
        font-style: normal;
        padding: 24px 0;   
    }
}

@media screen and (min-width:768px) {
    .my-link {
        color: #2E2F42;
        text-decoration: none;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        font-family: Roboto, sans-serif;
        font-style: normal;
        padding: 24px 0;
        position: relative;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
}

@media screen and (min-width:768px) {
    .my-link::before {
        text-decoration: none;
        position: absolute left 0; 
        bottom: - 1px;
    }
}

@media screen and (min-width:768px) {
    .my-link::after {
        text-decoration: underline;
        content: "";
        color: #404BBF;
        bottom: -1px;
        left: 0;
        height: 4px;
        width: 100%;
        background-color: #404bbf; 
        border-radius: 2px;
    }
}

@media screen and (min-width:768px) {
    .my-link:hover {
        color: #404bbf;
        text-decoration: underline;
    }
}

@media screen and (min-width:768px) {
    .my-link:focus {
        color: #404bbf;
    }
}

@media screen and (min-width:768px) {
    .carent {
        position: relative;
        color: #404BBF;
    }
}

@media screen and (min-width:768px) {
    .carent::after {
        text-decoration: underline;
        content: "";
        color: #404BBF;
        position: absolute;
        bottom: -1px;
        left: 0;
        height: 4px;
        width: 100%;
        background-color: #404bbf; 
        border-radius: 2px;
    }
}

@media screen and (min-width:768px) {
    .link-contact {
        font-style: normal;
        text-decoration: none;
    }
}

@media screen and (min-width:768px) {
    .link-contact-text {
        color: #434455;
        text-decoration: none;
        font-style: normal;
        display: block;
        padding-top: 24px;
        padding-bottom: 24px;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        padding-top: 8px;
        padding-bottom: 0px;
    }
}

@media screen and (min-width:1158px) {
    .link-contact-text {
        padding-top: 8px;
        padding-bottom: 0px;
    }
}

@media screen and (min-width:768px) {
    .link-contact-text:hover {
        color: #404bbf;
        text-decoration: underline;
    }
}

@media screen and (min-width:768px) {
    .link-contact-text:focus {
        color: #404bbf;
    }
}

@media screen and (min-width:768px) {
    .link-contact-text::before {
        text-decoration: none;
    }
}

@media screen and (min-width:768px) {
    .link-contact-text::after {
        text-decoration: underline;
        color: #404BBF;
    }
}

.link-contact-all {
    display: none;
}

@media screen and (min-width:768px) {
    .link-contact-all {
        display: flex;
        flex-direction: column;
        gap: 0px;

    }
}

@media screen and (min-width:1158px) {
    .link-contact-all {
        flex-direction: row;
        gap: 40px;
        margin-left: 78px;
        margin-top: 16px;
    }
}

@media screen and (min-width:768px) {
    .contact-all {
        display: flex;
        gap: 40px;
        font-family: "Roboto", sans-serif;
        color: #434455;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5; 
        letter-spacing: 0.02em; 
        margin-left: 42px;   
    }
}

.backdrop-mobile {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    z-index: 9999;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-window-mobile {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1); 
    width: 288px;
    height: 623px;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding-right: 16px;
    padding-left: 16px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.menu-mobile {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.menu-title-text-mobile {
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 0.02em;
    font-family: Roboto, sans-serif;
    font-style: normal;
    color: #404bbf;
    line-height: 1.5;
}

.my-link-mobile {
    color: #2E2F42;
    text-decoration: none;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-family: Roboto, sans-serif;
    font-style: normal;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.my-link-mobile::before {
    text-decoration: none;
    position: absolute left 0; 
    /* bottom: - 1px; */
}

.my-link-mobile::after {
    text-decoration: none;
    content: "";
    color: #404BBF;
    bottom: -1px; 
    left: 0;
    height: 4px;
    width: 100%; 
    background-color: #404bbf; 
    border-radius: 2px; 
}

.my-link-mobile:hover {
    color: #404bbf;
    text-decoration: none;
}

.my-link-mobile:focus {
    color: #404bbf;
    text-decoration: none;
}

.carent-mobile {
    text-decoration: none;
    position: relative;
    color: #404BBF;
}  

.carent-mobile::before {
    text-decoration: none;

}

.carent-mobile::after {
    text-decoration: none;
    content: "";
    color: #404BBF;
    position: absolute;
    bottom: -1px;
    left: 0;
    height: 4px;
    width: 100%;
    background-color: #404bbf; 
    border-radius: 2px;
} 

.link-contact-mobile {
    font-style: normal;
    text-decoration: none;
    margin-top: 124px;
    
}
.link-contact-all-mobile {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-top: 124px;
}

.link-contact-text-mobile {
    color: #434455;
    text-decoration: none;
    font-style: normal;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-contact-text-mobile:hover {
    color: #404bbf;
    text-decoration: none;
}

.link-contact-text-mobile:focus {
    color: #404bbf;
}

.link-contact-text-mobile::before {
    text-decoration: none;
}

.link-contact-text-mobile::after {
    text-decoration: none;
    color: #404BBF;
}

.contact-all-mobile {
    display: flex;
    gap: 24px;
    font-family: "Roboto", sans-serif;
    color: #434455;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.5; 
    letter-spacing: 0.02em;  
}

.contact-phone {
    color: rgba(67, 68, 85, 1);
    text-decoration: none;
}

.contact-phone::before {
    color: rgba(67, 68, 85, 1);
}

.contact-phone::after {
    color: rgba(77, 90, 229, 1);
}

.block-icons-footer-mobile {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    margin-top: 48px;
    
}

.icons-block-footer-mobile {
    width: 40px;
    height: 40px;

}

.icons-footer-link-mobile {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center; 
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icons-footer-social-link-mobile {
    fill: #f4f4fd;
}

.is-hidden-mobile {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    } 

.close-icon-mobile {
    width: 24px;
    height: 24px;
    display: flex;
    position: absolute;
    top: 24px;
    right: 24px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 1px solid gba(46, 47, 66, 1);
    background-color: #e7e9fc;
    border: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 0;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.post-title {
    color: #FFFFFF;
    font-family: "Roboto", sans-serif;
    font-size: 36px;
    text-align: center;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    margin-bottom: 72px;
    margin-left: auto;
    margin-right: auto;
    max-width: 208px;
}

@media screen and (min-width:768px) {
    .post-title {
        max-width: 496px;
        font-size: 56px;
    }
}

@media screen and (min-width:1158px) {
    .post-title {
        font-size: 56px;
    }
}  

.icons-section {

}

.post {
    width: 320px;
    height: 432px;
    padding: 88px 0 88px 0px;
    background-color: #2E2F42;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/Dark-bg\ \(2\).jpg); 
    background-repeat: no-repeat; 
    background-position: center;
    background-size: cover; 
    margin: 0 auto;
}

@media screen and (min-resolution: 192dpi), 
screen and (min-resolution: 2dppx), 
screen and (min-device-pixel-raito: 2) {
    .post {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/Dark-bg@2x.jpg);
    }
}

@media screen and (min-width:768px) {
    .post {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/Dark-bg.jpg);
        padding: 92px;
        width: 768px;
    }
}

@media screen and (min-resolution: 192dpi) and (min-width:768px), 
screen and (min-resolution: 2dppx) and (min-width:768px), 
screen and (min-device-pixel-raito: 2) and (min-width:768px) {
    .post {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/Dark-bg@2x.jpg);
    }
}

@media screen and (min-width:1158px) {
    .post {
        width: 1300px;
        padding-top: 88px;
        padding-bottom: 88px;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office\ 1.jpg);
    }
}  

@media screen and (min-resolution: 192dpi) and (min-width:1158px), 
screen and (min-resolution: 2dppx) and (min-width:1158px), 
screen and (min-device-pixel-raito: 2) and (min-width:1158px) {
    .post {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office\ 1@2x.jpg);
    }
}

.icons {
    background-color: #F4F4FD;
}

.button-style {
    color: #FFFFFF;
    background-color: #4D5AE5;
    font-size: 16px;
    text-shadow: 0px, 4px, 4px, 0px #000000 15%;
    font-weight: 500;
    font-family: "Roboto", sans-serif;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    margin: auto; 
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.button-style:hover {
    background-color: #404BBF;   
}

.button-style:focus {
    background: #404BBF;
}

img {
    display: block;
    object-fit: cover;
}

.section-icons-list {
    display: flex;
    background-color: #F4F4FD;
    border: 1px;
    border-radius: 4px;
    margin-bottom: 8px;
    justify-content: center;
}

@media screen and (min-width:320px) and (max-width:767px) {
    .icons-section {
        display: none;
    }
}

@media screen and (min-width:320px) and (max-width:767px) {
    .section-icons-list {
        display: none;
    }
}

@media screen and (min-width:768px) and (max-width:1157px) {
    .section-icons-list {
        display: none;
    }
}

.text {
    font-family: Roboto, sans-serif;
    font-size: 16px;
    color: #434455;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

@media screen and (min-width:1185px) {
    .text {
    }
}

.tytle-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 96px;
    padding-bottom: 96px;
}

@media screen and (min-width:768px) {
    .tytle-section {
        flex-direction: row;
        padding-top: 120px;
        padding-bottom: 120px;
    }
}
@media screen and (min-width:1158px) {
    .tytle-section {

    }    
}

.tytle-section-list {
    width: calc((100% - 72)); 
}

@media screen and (min-width:768px)  {
    .tytle-section-list {
        width: calc((100% - 24px) / 2);
        margin: 0;
    }
}

@media screen and (min-width:1158px) {
    .tytle-section-list {
        width: 264px;
        height: 224px;
    }
}

.tytle-list-section {
    display: flex;
    gap: 72px;
    flex-direction: column;
    justify-content: center;
}

@media screen and (min-width:768px) {
    .tytle-list-section  {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 24px;
        justify-content: flex-start;

    }
}

@media screen and (min-width:1158px) {
    .tytle-list-section {
        gap: 12px;
        height: 224px;
        justify-content: center;
    }
}

.title {
    color: #2E2F42;
    font-family: Roboto, sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px; 
    text-align: center;
    width: 264px;

}

@media screen and (min-width: 768px) {
    .title {
        text-align: left;
        margin-top: 24px;        
    }
}

@media screen and (min-width: 1158px) {
    .title {
        font-weight: 500;
        font-size: 20px;

    }
}

.section-block-team {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 72px;  
}

@media screen and (min-width:768px) {
    .section-block-team {
        flex-wrap: wrap;
        row-gap: 64px;
        column-gap: 24px;
        height: 1124px;
        margin-left: 16px;
    }
}

@media screen and (min-width: 1158px) {
    .section-block-team {
        flex-direction: row;
        flex-wrap: nowrap;
        height: 428px;
        gap: 24px;  
        margin-bottom: 120px;
        justify-content: center;
    }
}

.block-icons-team {
    display: flex;
    justify-content: center;
    margin-top: 8px;  
    gap: 24px;  
}

.icons-block-kards-team {   
    width: 40px;
    height: 40px;
}

.icons-team-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #4d5ae5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);   
}

.icons-team-link:hover {
    border-radius: 50%;
    background-color: #404bbf; 
}

.icons-team-link:focus {
    border-radius: 50%;
    background-color: #404bbf; 
}
    
.icons-block-kards {
    fill: #f4f4fd;
}

.blok-post-team {
        display: flex;
        width: 320px;
        flex-direction: column;
        justify-content: center;
        background-color: #F4F4FD;
        padding-top: 96px;
        padding-bottom: 96px; 
        width: 296px;
}

@media screen and (min-width: 768px) {
    .block-post-team {
        width:564px;
        padding-top: 120px;
        padding-bottom: 120px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (min-width:1158px) {
    .block-post-team {
        flex-direction: row;
    }
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.post-team {
    font-family: Roboto, sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}

@media screen and (min-width:768px) {
    .post-team {
        margin-bottom: 0;
    }
}

@media screen and (min-width:1158px) {
    .post-team {    
        margin-bottom: 120px;
    }
} 

.block-cards-team {
    margin-left: auto;
    margin-right: auto;
    background-color: #FFFFFF;
    border-radius: 0px 0px 4px 4px; 
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}


.description-team {
    padding: 32px 0;
}

.box-title {
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #2E2F42;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 8px;
}

.box-post {
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #434455;
    letter-spacing: 0.02em;
    text-align: center;
}

.list-title-block {
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.block-portfolio {
    padding-top: 96px;
    padding-bottom: 96px;
}

@media screen and (min-width:768px) {
    .block-portfolio {
        padding-top: 120;
        padding-bottom: 120;
    } 
}

.title-list {
    font-family: Roboto, sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    color: #2E2F42;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 72px;
}

@media screen and (min-width:768px) {
    .title-list {

    }
}

@media screen and (min-width:1158px) {
    .title-list {
        margin-bottom: 120px;
    }
}

.section-title-block {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
} 

@media screen and (min-width:768px) {
    .section-title-block {
        flex-direction: row;
        row-gap: 72px;
        column-gap: 24px;
    } 
}

@media screen and (min-width:1158px) {
.section-title-block {
        justify-content: center;
    }
}

.section-title-block:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    transform: translateY(0%);
}

.description-portfolio {
    width: 288px;
    position: relative;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin-left: auto;
    margin-right: auto;
    
}

.description-potfolio:hover {
    transform: translateY(0%);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.box-hidden {
    position: relative;
    overflow: hidden;
}

.overlay {
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #F4F4FD;
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    line-height: 1.5;
    padding: 40px 32px;
    background-color: #4d5ae5;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.description-portfolio:hover .overlay {
    transform: translate(0%);
}

.description-portfolio-title {
    padding: 32px 16px;
    border: 1px solid #e7e9fc; 
    border-top: none;
}

.text-title-block {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455; 
}

.container-footer {
        display: flex;
        flex-direction: column; 
        gap: 72px;
    }

@media screen and (min-width:768px) {
    .container-footer {
        width: 584px;
        flex-wrap: wrap;  
        flex-direction: row;  
        gap: 72px 24px;
    }
}

@media screen and (min-width:1158px) {
    .container-footer {
        flex-wrap: nowrap;
        flex-direction: row;
        gap: 72px;
    }
}

.container-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        gap: 16px;
    }

@media screen and (min-width:768px) {
        .container-box {
            text-align: left;
            align-items:flex-start;
        }
    }
    
@media screen and (min-width:1158px) {
    .container-box {
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: flex-start;
        width: 264px;

    }
}

.last-block {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #2e2f42; 
        padding-top: 96px;
        padding-bottom: 96px;

}
@media screen and (min-width:768px) {
    .last-block {
    }
}

@media screen and (min-width:1158px) {
    .last-block {
        display: block;  
        height: 312px; 
        width: 1158px;
        flex-wrap: nowrap; 
        flex-direction: row;    
    }     
}

.box-last-text {
        color: #F4F4FD;
        font-family: Roboto, sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.02em;   
        width: 264px; 
    }

.box-last-logo {
        display: flex;
        justify-content: center; 
        text-transform: uppercase;    
        text-decoration: none;
        font-family: Raleway, sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        color: #4d5ae5;  
    }

@media screen and (min-width:768px) {
    .box-last-logo {
        justify-content: flex-start;
    }
}

.container-social {
        display: flex;
        flex-direction: column;
        justify-content: center; 
    }

@media screen and (min-width:1158px) {
    .container-social {
        justify-content: flex-start;
    }
}

.text-studio {
    color: #f4f4fd;
    display: inline-block;
}

.block-icons-footer {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 16px;
    }

.icons-block-footer {
    width: 40px;
    height: 40px;
    margin-top: 16px;
}

.icons-footer-link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center; 
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.icons-footer-link:hover {
    background-color: #31d0aa;
}

.icons-footer-link:focus {
    background-color: #31d0aa;
}

.icons-footer-social-link {
    fill: #f4f4fd;
}

.social-link {       
        text-align: center;
        color: #FFFFFF;
        font-family: Roboto, sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        display: inline-block;
    }

@media screen and (min-width:768px) {
    .social-link {
        display: flex;
        justify-content: flex-start;
    }
}



.footer-form-section  {
        display: flex;
        flex-direction: column;
        justify-content: center;   
    }

@media screen and (min-width:1158px) {
    .footer-form-section {
        justify-content: flex-start;
        }
    }

.footer-button {
        display: flex;
        margin-left: auto;
        margin-right: auto;
        margin-top: 16px;
        justify-content: center;
        align-items: center;
        color: #FFFFFF;
        background-color: #4D5AE5;
        border-radius: 4px;
        border: none;
        min-width: 165px; 
        height: 40px;
        font-family: Roboto, sans-serif;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.04em;
        cursor: pointer; 
    }

@media screen and (min-width:768px) {
    .footer-button {
        width: 165px;
        margin-top: 0;
    }
}

.form-field {
        font-family: Roboto, sans-serif;
        font-size: 16px;
        font-weight: 500;
        color: #FFFFFF;
        text-align: center;
        line-height: 1.5;
        letter-spacing: 0.02em;
        width: 75px;
    }
    
@media screen and (min-width:768px) {
    .form-field  {
        text-align: start;

        }
}

@media screen and (min-width:1158px) {
    .form-field {
        text-align: start;
        margin-bottom: 16px;        
    }
}

.form-style {
        display: flex;
        flex-direction: column;
    }

@media screen and (min-width:768px) {
    .form-style {
        flex-direction: row;
        gap: 24px;
    }
}

@media screen and (min-width:1158px) {
    .form-style {
        flex-direction: row;
        gap: 24px;
    }   
}

.form-style::placeholder {
    font-family: Roboto, sans-serif;
    font-size: 12px;
    font-weight: 400px;
    color: #FFFFFF;
    line-height: 1.5;
    letter-spacing: 0.02em;

}
.form-style-field {
    border: 1px solid #FFFFFF;
    border-radius: 4px;
    width: 264px;
    height: 40px;
    background-color: transparent;
    font-size: 12px;
    line-height: 1.5; 
    letter-spacing: 0.04em;
    padding-left: 16px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15)); 
    color: #ffffff;
}

input::placeholder {
    color: #ffffff;
}

.form-style-set {
    font-family: Roboto, sans-serif;
    font-size: 16px;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
    border-radius: 4px;
    background-color: #2E2F42;
}

.form-style-set:hover {
    border: 1px solid #FFFFFF;
    border-radius: 4px;
    background-color:  #2E2F42;
}

.form-style-set:focus {
    border: 1px solid #FFFFFF;
    border-radius: 4px;
    background-color:  #2E2F42;
}

.form-style {
    height: 40px;
}

.footer-icons-frame {
    margin-left: 16px;
}
 ul {
    list-style-type: none;
    margin-bottom: 0;
    margin-top: 0;
    margin-left: 0;
    padding-left: 0;
 }

 ol {
    list-style-type: none;
    margin-bottom: 0;
    margin-top: 0;
    margin-left: 0;
    padding-left: 0;
}

h1, h2, h3, p {
    margin: 0;
  }