.mobile-menu-open-button {
    cursor: pointer;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border-radius: 4px;
    border: none;
}

@media screen and (min-width:768px) {
    .mobile-menu-open-button {
        display: none;
    }    
}

.mobile-menu-open-button:hover {
    background-color: rgba(230, 224, 224, 0.7);
}

.mobile-menu-open-button:focus {
    background-color: rgba(230, 224, 224, 0.7);
}


.icon-mobile-header {
    display: inline-block;
    width: 24px;
    height: 24px;
    stroke-width: 0;
    stroke: currentColor;
    fill: #2F2F37;
}

@media screen and (min-width:768) and (min-width:1185px) {
    .backdrop-mobile {
        display: none;
    }  
}

.backdrop-mobile {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    z-index: 9999;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
} 

.modal-window-mobile {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1); 
    width: 320px;
    height: 623px;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding-right: 16px;
    padding-left: 16px;
    padding-top: 40px;
    padding-bottom: 40px;
} 

.menu-mobile {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.menu-title-text-mobile {
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 0.02em;
    font-family: Roboto, sans-serif;
    font-style: normal;
    color: #404bbf;
    line-height: 1.5;
}

.my-link-mobile {
    color: #2E2F42;
    text-decoration: none;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-family: Roboto, sans-serif;
    font-style: normal;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.my-link-mobile::before {
    text-decoration: none;
    position: absolute left 0; 
    /* bottom: - 1px; */
}


.my-link-mobile::after {
    text-decoration: none;
    content: "";
    color: #404BBF;
    bottom: -1px; 
    left: 0;
    height: 4px;
    width: 100%; 
    background-color: #404bbf; 
    border-radius: 2px; 
}

.my-link-mobile:hover {
    color: #404bbf;
    text-decoration: none;
}

.my-link-mobile:focus {
    color: #404bbf;
    text-decoration: none;
}


.carent-mobile {
    text-decoration: none;
    position: relative;
    color: #404BBF;
}  

.carent-mobile::before {
    text-decoration: none;
}


.link-contact-mobile {
    font-style: normal;
    text-decoration: none;
    margin-top: 124px;
    
}
.link-contact-all-mobile {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-top: 124px;
}

.link-contact-text-mobile {
    color: #434455;
    text-decoration: none;
    font-style: normal;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-contact-text-mobile:hover {
    color: #404bbf;
    text-decoration: none;
}

.link-contact-text-mobile:focus {
    color: #404bbf;
}

.link-contact-text-mobile::before {
    text-decoration: none;
}


.link-contact-text-mobile::after {
    text-decoration: none;
    color: #404BBF;
}

.contact-all-mobile {
    display: flex;
    gap: 24px;
    font-family: "Roboto", sans-serif;
    color: #434455;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.5; 
    letter-spacing: 0.02em;  
}

.contact-phone {
    color: rgba(67, 68, 85, 1);
    text-decoration: none;
}

.contact-phone::before {
    color: rgba(67, 68, 85, 1);
}

.contact-phone::after {
    color: rgba(77, 90, 229, 1);
}

.block-icons-footer-mobile {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    margin-top: 48px;
    
}

.icons-block-footer-mobile {
    width: 40px;
    height: 40px;
}

.icons-footer-link-mobile {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center; 
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icons-footer-social-link-mobile {
    fill: #f4f4fd;
}

.is-hidden-mobile {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}

.close-icon-mobile {
    width: 24px;
    height: 24px;
    display: flex;
    position: absolute;
    top: 24px;
    right: 24px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 1px solid gba(46, 47, 66, 1);
    background-color: #e7e9fc;
    border: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 0;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}